<div class="container">

    <div class="card">

        <form (ngSubmit)="doUpdateForm()">

            <h1>Add Job</h1>

            <mat-form-field class="field" appearance="outline">
                <mat-label>Job Name</mat-label>
                <input name="name" [(ngModel)]="updateuser.name" matInput placeholder="Enter Job Name">
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Start time</mat-label>
                <input name="starttime" [(ngModel)]="updateuser.starttime" matInput placeholder="Enter Start time">
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>End time</mat-label>
                <input name="endtime" type="text" [(ngModel)]="updateuser.endtime" matInput placeholder="Enter End time">
            </mat-form-field>

            <mat-form-field class="field" appearance="outline">
                <mat-label>Profit Value</mat-label>
                <input name="profitValue" type="text" [(ngModel)]="updateuser.profitValue" matInput placeholder="Enter Profit Value">
            </mat-form-field>

            <mat-label>Select Role</mat-label> <br>
            <input type="radio" name="role"  [(ngModel)]="updateuser.role"  value="Developer" /> Developer
            <input type="radio" name="role" [(ngModel)]="updateuser.role"  value="Tester" /> Tester
            <input type="radio" name="role" [(ngModel)]="updateuser.role"  value="Analyst" /> Analyst

            <!-- <mat-radio-group aria-label="Select an option">
                <mat-radio-button name="updateuser.role" value="Developer" [(ngModel)]="updateuser.role">Developer </mat-radio-button><br>
                <mat-radio-button name="updateuser.role" [value]="Tester" [(ngModel)]="updateuser.role">Tester </mat-radio-button><br>
                <mat-radio-button name="updateuser.role" [value]="Analyst" [(ngModel)]="updateuser.role">Analyst</mat-radio-button>
            </mat-radio-group> -->


            <!-- <label id="example-radio-group-label">Select Role</label><br>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteFruit">
                <mat-radio-button class="example-radio-button" *ngFor="let fruit of fruits" [value]="fruit">
                    {{ fruit }}
                </mat-radio-button>
            </mat-radio-group>
            <div>Your selected role is: {{ favoriteFruit }}</div> -->






            <!-- <mat-form-field class="field" appearance="outline">
                <mat-label>Price</mat-label>
                <input name="price" [(ngModel)]="updatebook.price" matInput placeholder="Enter Price">
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Publisher</mat-label>
                <input name="publisher" [(ngModel)]="updatebook.publisher" matInput placeholder="Enter Publisher">
            </mat-form-field>
            <mat-form-field class="field" appearance="outline">
                <mat-label>Active</mat-label>
                <input name="active" [(ngModel)]="updatebook.active" matInput placeholder="Enter True/False">
            </mat-form-field>
            <mat-form-field class="example-full-width field">
                <mat-label>Content</mat-label>
                <textarea name="message" [(ngModel)]="updatebook.bookcontent" rows="10" matInput
                    placeholder="Enter your book content here..."></textarea>
            </mat-form-field> -->


            <div class="text-center">

                <mat-spinner *ngIf="flag" style="margin: auto;"> </mat-spinner>

                <button [disabled]="flag" type="submit" mat-raised-button color="primary">Save</button>
                <button type="reset" mat-raised-button color="accent">Reset</button>


            </div>

        </form>

        {{ updateuser | json }}




    </div>

</div>