.card {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
  }

table{ 
    margin-top: 20%;
    border-spacing : 50px;
    width: 50%;
    margin: auto;
    background: yellow;
    padding: 20px;
    border-style:solid;
    row-gap: 30px;
    grid-auto-rows: auto;

  }





